@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
.wrapper{
    background-color: #3098F3;
    width: 100%;
    height: 100vh;
    margin: auto;
    margin-bottom: 100px;
}
.nav{
    display: flex;
    width: 100%;
    height: 81px;
    justify-content: center;
    align-items: center;
}
.left{
    flex:1;
    padding-left: 150px;
}

.right{
    flex:1;
}
.nav_right{
    list-style: none;
    display: flex;
    color: white;
    width: 500px;
    justify-content: space-evenly;
    padding-right: 100px;
    font-size: 20px;
}
.section_bluepage_wrapper{
    display: flex;
    height: 80vh;
}
.bluepage_left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 160px;
    color: white;
}
.bluepage_title{
    font-size: 50px;
    line-height: 67px;
    font-weight: 400;
}
.bluepage_desc{
    padding-right: 400px;
    color: #FFCC00;
    font-size: 45px;
    font-weight: 400;

}
.bluepage_right{
    flex:1;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.redcircle{
    Width: 181px;
    Height:179px;
    background-color: #FE6571;
    border-radius: 50%;
    position: absolute;
    left: 0;
    z-index: 1;
}
.bluecircle{
    Width: 181px;
    Height:179px;
    background-color: #082C4E;
    border-radius: 50%;
    position: absolute;
    left: 80px;
    z-index: 1;
}
.yellowcircle{
    Width: 181px;
    Height:179px;
    background-color: #FFCC00;
    border-radius: 50%;
    position: absolute;
    left: 143px;
    z-index: 1;
}
.whitecircle{
    Width: 181px;
    Height:179px;
    background-color: #F2EAE2;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    z-index: 1;
}
.infosection{
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: #E5E5E5;;
}
.infosection_left{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#05051E;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    padding-left: 200px;
}
.infosection_right{
    flex:1;
}